.header-section {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.logo img {
  margin-right: 10px;
}


.navlinks ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks ul li a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}


.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Hamburger button */
.navbar-toggler {
  background: none;
  border: none;
  font-size: 26px;
  color: white;
}

/* Mobile icons (hidden by default) */
.mobile-icons {
  display: none;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}




/* 1200px  */
@media (max-width: 1200px) {
  .navlinks ul {
    gap: 16px;
  }
}

/*  992px  */
@media (max-width: 992px) {
.icons {
  display: flex;
}

.navbar-toggler{
  display: none;
}

}

/*  768px  */
@media (max-width: 768px) {

  .navbar-custom {
    flex-wrap: wrap;
  }

  .navlinks {
    width: 100%;
    display: none;
    margin-top: 20px;
  }

  .navlinks.show {
    display: block;
    background-color: black;
    padding: 20px;
  }

  .mobile-icons img{
    height: 23px;
  }

  .navlinks ul {
    flex-direction: column;
    gap: 15px;
    background: rgba(0, 0, 0, 0.9);
    /* padding: 20px; */
    border-radius: 8px;
  }

  .navbar-toggler{
    display: block;
  }

    .mobile-icons {
    display: flex;
  }

  .logo{
    display: flex;
    align-items: center;
  }

}

/*  576px  */
@media (max-width: 576px) {


  .navbar-toggler {
    font-size: 24px;
  }
}
