.header-section {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* Logo */
.logo img {
  margin-right: 10px;
}

/* Nav links */
.navlinks ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks ul li a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

/* Icons */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Hamburger button */
.navbar-toggler {
  background: none;
  border: none;
  font-size: 26px;
  color: white;
}



/* 1200px (Large desktops) */
@media (max-width: 1200px) {
  .navlinks ul {
    gap: 16px;
  }
}

/*  992px (Tablets / small laptops) */
@media (max-width: 992px) {
.icons {
  display: flex;
}

  .navbar-toggler {
  display: none;
}
}

/*  768px (Tablets) */
@media (max-width: 768px) {

  .navbar-custom {
    flex-wrap: wrap;
  }

  .navlinks {
    width: 100%;
    display: none;
    margin-top: 20px;
  }

  .navlinks.show {
    display: block;
  }

  .navlinks ul {
    flex-direction: column;
    gap: 15px;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
  }
}

/*  576px (Mobile) */
@media (max-width: 576px) {
  .logo img:last-child {
    display: none; 
  }

  .navbar-toggler {
    font-size: 24px;
  }
}
