.review-section{
    background-color: var(--color-skin-light);
}

.btn-white{
    background-color: white;
    color: blue;
}

.GI{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

.review-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.review{
    background-color: white;
    padding: 25px;
}

.img-paginations{
    text-align: center;
    margin-top: 20px;
}