.services-section {
    background-image: url("../assets/images1/designbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 810px;
    /* padding: 100px 0 120px; */
}

/* Sub text */
.services-subtext {
    max-width: 650px;
    margin: auto;
    opacity: 0.85;
}

/* Card */
.service-card {
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.service-card h5 {
    font-size: 24px;
    font-weight: 600;
    /* margin-top: 20px; */
}

.service-card p {
    color: #6c757d;
    font-size: 15px;
    margin: 15px 0;
}

.service-card a {
    color: #0b5ed7;
    font-weight: 500;
    text-decoration: none;
}

/* Icon */
.icon-box {
    width: 92px;
    height: 52px;
    border-radius: 12px;
    background: #f1f5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}


.service-content{
    width: 80%;
}

/* Responsive Style */

/* 1200px */
@media (max-width: 1200px) {
    .services-section {
        padding: 80px 0;
    }
}

/* 992px */
@media (max-width: 992px) {
    .service-card {
        padding: 26px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .services-section {
        padding: 70px 0;
    }

    .service-card {
        text-align: center;
    }

    .icon-box {
        margin: auto;
    }
}

/* 576px */
@media (max-width: 576px) {
    .services-section {
        padding: 60px 15px;
    }

    .service-card {
        padding: 22px;
    }

    .service-card h5 {
        font-size: 18px;
    }

    .service-card p {
        font-size: 14px;
    }
}